<mat-toolbar color="primary" fxLayoutGap="8px" *ngIf="{
  status: authService.authStatus$ | async,
  user: authService.currentUser$ | async
} as auth;">
  <button mat-icon-button *ngIf="auth?.status?.isAuthenticated">
    <mat-icon>menu</mat-icon>
  </button>
  <a mat-button routerLink="/home">
    <mat-icon svgIcon="lemon"></mat-icon>
    <span class="mat-h2">LemonMart</span>
  </a>
  <span class="flex-spacer"></span>
  <button mat-mini-fab matTooltip="Profile" routerLink="/user/profile"
    aria-label="User Profile" *ngIf="auth?.status?.isAuthenticated">
    <mat-icon>
      account_circle
    </mat-icon>
  </button>
  <button mat-mini-fab matTooltip="Logout" routerLink="user/logout" aria-label="Logout"
    *ngIf="auth?.status?.isAuthenticated">
    <mat-icon>
      lock_open
    </mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
